@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

.editorBottom {
  .main {
    .item {
      display: flex;
      margin: 0.3rem 0;
      .label {
        width: 200px;
      }
    }
  }
}
