$bgColor: #aaa;
$mainBgColor: white;
$fontColor: black;
$fontSubColor: #666;
$successColor: #6bb;
$subColor: #669;
$errorColor: #e5b;
$disableColor: #aaa;

$popupBgColor: $fontSubColor;
$popupFontColor: $mainBgColor;

$bottomTabWidth: 150px;

$vs-component-line-height: 1;
$vs-border-color: $fontSubColor;
$vs-border-radius: 1px;

$vs-state-active-bg: $successColor;
$vs-controls-size: 0.6;
